*{
    padding: 0;
    margin: 0;
}

.main{
    height: 100vh;
    width: 100%;
    background-image: url("Coventic Webpage images/background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%);
    z-index: 2;
}

h1{
    font-size: 80px;
    margin: 10px 0 20px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 30px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-link img, .useful-link img{
    width: 30px;
    margin: auto;
    cursor: pointer;
}

.social-link{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 40%;
}

.useful-link{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 10%;   
}

.bubbles img{
    width: 50px;
    animation: bubble 5s linear infinite;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    25%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    100%{
        transform: translateY(-75vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}

.bubbles img:nth-child(2){
    animation-delay: 4s;
    width: 25px;
}

.bubbles img:nth-child(3){
    animation-delay: 1s;
}

.bubbles img:nth-child(4){
    animation-delay: 5s;
    width: 30px;
}

.bubbles img:nth-child(5){
    animation-delay: 6s;
    width: 20px;
}

.bubbles img:nth-child(6){
    animation-delay: 3s;
    width: 25px;
}

.bubbles img:nth-child(7){
    animation-delay: 5s;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@media screen and (max-width: 768px) {
    .content{
        top: 20%;
        left: 40%;
    }

    button{
        font-size: 20px;
    }

    h1{
        font-size: 50px;
    }

    .side-bar{
        width: 100%;
        height: 80px;

        position: absolute;
        top: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    
    .social-link{
        width: auto;
        position: unset;
        transform: none;
    }
    
    .useful-link{
        width: auto;
        position: unset;
    }

    .menu{
        width: 18px;
        margin: 0;
    }

    .social-link img, .useful-link img{
        width: 30px;
    }
    
}

@media screen and (max-width:912px) and (min-width: 786px) {
    .content{
        top: 20%;
        left: 40%;
    }

    h1{
        font-size: 80px;
    }

    .logo{
        width: 200px;
        cursor: pointer;
    }

    button{
        font-size: 25px;
    }
}